.journalbgred{
    background-image: url('Journalsbg.jpg');
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100vw 
}

.journalbggreen{
    background-image: url('bg2.jpg');
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100vw 
}

.journalbgblue{
    background-image: url('Journalsbg.jpg');
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100vw 
}
