.journalbg1{
    background-image: url('Journalsbg.jpg');
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100vw 
}

.journalbg2{
    background-image: url('Journalsbg.jpg');
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100vw 
}

.journalbg3{
    background-image: url('Journalsbg.jpg');
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100vw 
}
